.secure-password-input {
    border: 0.07em solid #b6acac;
    font-size: 1.5em;
    height: 1.8em;
    padding: 0.1em 0.4em;

    cursor: text;

    user-select: none;
}

.secure-password-input:active, .secure-password-input:focus {
    box-shadow: 0 0 5px 1px #08F;
}

.secure-password-input > .cursor {
    display: none;

    animation: blink 1s infinite;
    margin: 0;
    letter-spacing: -0.5em;
}

.secure-password-input:active > .cursor, .secure-password-input:focus > .cursor {
    display: inline;
}

@keyframes blink {
    0% {
        color: white;
    }
    60% {
        color: black;
    }
    100% {
        color: white;
    }
}