.secure-password-input {
    border: 0.07em solid #b6acac;
    font-size: 1.3em;
    height: 1.8em;
    padding: 0.1em 0.4em;

    position: relative;

    cursor: text;

    user-select: none;
}

.secure-password-input:active, .secure-password-input:focus {
    box-shadow: 0 0 5px 1px #08F;
}

.secure-password-input > .cursor {
    display: none;

    animation: blink 1s infinite;
    margin: 0;
    letter-spacing: -2em;
}

.secure-password-input:active > .cursor, .secure-password-input:focus > .cursor {
    display: inline;
}

@keyframes blink {
    0% {
        color: white;
    }
    60% {
        color: black;
    }
    100% {
        color: white;
    }
}

.secure-password-input > .input-dots {
    position: absolute;
    left: 0.2em;
    right: 2em;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.secure-password-input > .onscreen-keyboard-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.5em;
    height: auto;

    text-align: right;

    cursor: pointer;

    /* icon based on https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_keyboard-rtl.svg which is under MIT license */
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTIxIDd2OWMwIDEuNzM0LjI1NCAzLjAwOC0xLjI4MiAzLjAyNWwtMTUuNzk3LjE3M2MtLjY5Mi0uMDg0LS44NjgtLjI0MS0uODk4LS45MjRMMyA3Wm0tOCAyaC0ydjJoMnptMCAzaC0ydjJoMnptMy0zaC0ydjJoMnptMCAzaC0ydjJoMnptMSA1aDFjLjYgMCAxLS40IDEtMXYtMWgtMnptMC0zaDJ2LTJoLTJ6bTAtM2gyVjloLTJ6bS05IDZoOHYtMkg4Wm0wLTNoMnYtMkg4Wm0wLTNoMlY5SDhabS0zIDZoMnYtMkg1Wm0wLTNoMnYtMkg1Wm0wLTNoMlY5SDVaIi8+PC9zdmc+') no-repeat center center;
}

.secure-password-input > .onscreen-keyboard-toggle.active {
    /* icon based on https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_keyboard-rtl.svg which is under MIT license */
    background: transparent url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTIxIDd2OWMwIDEuNzM0LjI1NCAzLjAwOC0xLjI4MiAzLjAyNWwtMTUuNzk3LjE3M2MtLjY5Mi0uMDg0LS44NjgtLjI0MS0uODk4LS45MjRMMyA3Wm0tOCAyaC0ydjJoMnptMCAzaC0ydjJoMnptMy0zaC0ydjJoMnptMCAzaC0ydjJoMnptMSA1aDFjLjYgMCAxLS40IDEtMXYtMWgtMnptMC0zaDJ2LTJoLTJ6bTAtM2gyVjloLTJ6bS05IDZoOHYtMkg4Wm0wLTNoMnYtMkg4Wm0wLTNoMlY5SDhabS0zIDZoMnYtMkg1Wm0wLTNoMnYtMkg1Wm0wLTNoMlY5SDVaIiBzdHlsZT0iZmlsbDojMDhmO2ZpbGwtb3BhY2l0eToxIi8+PC9zdmc+') no-repeat center center;
}

.onscreen-keyboard {
    background: #f3f3f3;
    width: 44.1em;
    text-align: center;
    margin: 0.3em auto;
}

.onscreen-keyboard > .key {
    tab-index: -1;

    user-select: none;

    display: inline-block;
    background: #cec9c9;
    border: gray solid 2px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.7em;
    width: 1.7em;
    height: 1.7em;

    cursor: pointer;
}

.onscreen-keyboard > .key.backspace-key, .onscreen-keyboard > .key.shift-key {
    width: 3.7em;
}

.onscreen-keyboard.hidden {
    display: none;
}

.onscreen-keyboard.shift-active > .key.no-shift {
    display: none;
}

.onscreen-keyboard:not(.shift-active) > .key.shift {
    display: none;
}
